<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meet_workshop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meetworkshop"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEBeBv-EtGsHmSq9CNC6qfuEv6mTH0YH0" />

        <activity
            android:name=".homepage.homeorganization.ChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.SubscriptionServiceOrgActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.CampaignAnalyticsOrgActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.AudienceAnalysisOrgActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.PolicePermitOrgActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".homepage.homeorganization.EditProfilePictureOrgActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.CampaignManagementOrgActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.UserProfileOrgActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.homeactivist.EditProfilePictureActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.meet_workshop.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".homepage.homeorganization.AddEventOrgActivity"
            android:exported="false" />
        <activity
            android:name=".homepage.homeactivist.UserProfile"
            android:exported="false" />
        <activity
            android:name=".homepage.homeorganization.HomeOrgActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpOrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".OrgOrActActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityInterests"
            android:exported="false" />
        <activity
            android:name=".homepage.homeactivist.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>